AIRFLOW_UID=50000
AIRFLOW__WEBSERVER__SECRET_KEY=change-me-local-only
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
_AIRFLOW_WWW_USER_FIRSTNAME=Lab
_AIRFLOW_WWW_USER_LASTNAME=Admin
_AIRFLOW_WWW_USER_EMAIL=admin@example.local
